/* =========================================================== */
/* light-theme */

:root{
    --darkblue: #0a6d7a;
    --lblue: #1bb1b1;
    --lightblue: #ebfcf8;
    --lightgreen: #e4fc0d;
    --warmorange: #e4fc0d;
    --blueshadow: lightblue;

    --bcg-l-1: lightblue;

    --bcg-col: #f0f6fc;
    --txt-col:#24292f;
    --txt-w-col: #f0fcfe;
    --cta-col: #0969da;
}