@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

/* =========================================================== */
/* browser directives */
*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 18px;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--bcg-col);
}

/* =========================================================== */
/* variables ----------- to theme file */
:root{
    --main-clr: #016b42;
    --shade1:#00bd74;
    --shade2: #00ff9d;

    --text-white: #ffffff;
    --text-black: #000000;
    --text-strict-white: #fff;
}


/* =========================================================== */
/* header */
#header{
    width: 100vw;
    position: fixed;
    box-sizing: border-box;
    z-index: 999;
}

#header .navbar{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px var(--main-clr);
    font-family: "Chivo", sans-serif;
    padding: 0 2%;
}

#header .navbar .logo{
    justify-self: left;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

#header .navbar .logo .name{
    font-size: 1.3rem;
}

#header .navbar .logo img{
    width: 50px;
    margin: 10px 20px;
}

#header .navbar :is(.nav-links, .animate){
    justify-self: right;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    font-size: 0.8rem;
}

#header .navbar :is(.nav-links, .animate) a{
    margin: 10px 10px;
    padding: 4px 10px;
    text-decoration: none;
    transition: 0.03s ease;
}
#header .navbar :is(.nav-links, .animate) a:hover{
    border-bottom: 2px solid;
}

#header .navbar :is(.nav-links, .animate) .account-btn{
    background-color: var(--shade2);
    color: var(--text-black);
    border-radius: 15px;
    transition: 0.03s ease;
}
#header .navbar :is(.nav-links, .animate) .account-btn:hover{
    background-color: var(--shade1);
}

/* toggler */
#toggler button{
    display: none;
    background-color: var(--shade1);
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}
#toggler button:hover{
    cursor: pointer;
    background-color: var(--shade2);
}

#toggler button{
    padding: 0px 4px;
    padding-top: 2px;
}
#toggler button .bars{
    width: 15px;
}
#toggler button:hover .bars{
    color: red;
}

#toggler button .bars-icon path{
    color: red;
}


/* =========================================================== */
/* hero section */
#hero{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    padding: 0 0px;
}

#hero .glass{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(70px);
}

#hero .hero-txt{
    font-family: 'chivo', sans-serif;
    flex: 1 1 0;
    box-sizing: border-box;
    margin: 3rem 8rem;
    padding: 5rem 0;
    align-self:flex-start;
    width: 50%;
    color: var(--txt-col);
}
#hero .hero-txt .soln{
    font-size: 1.3rem;
    color: var(--cta-col);
    margin-bottom: 0;
}
#hero .hero-txt h1{
    font-size: 2.5rem;
    background: linear-gradient(90deg, var(--shade1), var(--main-clr));
    background-clip: text;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}
#hero .hero-txt .ai{
    font-size: 1.6rem;
    margin-bottom: 5px;
}
#hero .hero-txt p{
    font-size: 1.1rem;
    margin-bottom: 20px;
}
#hero .hero-txt .soln-txt{
    font-size: 1rem;
    margin-bottom: 20px;
}

#hero .hero-txt .cta-btn{
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 0.88rem;
    margin-top: 50px;
    color: var(--txt-w-col);
    background-color: var(--cta-col);
}

#hero .hero-graphic{
    position: relative;
    width: 50%;
    flex: 1 1 0;
    display: flex;
    margin-top: 10rem;
    align-self: flex-start;
    justify-content: center;
}
#hero .hero-graphic .slider{
    position: absolute;
    width: 180px;
    height: 230px;
    top: 10%;
    left: 15%;
    transform-style: preserve-3d;
    transform: perspective(1300);
    animation: infiniloop 40s linear infinite;
}
#hero .hero-graphic .grc-img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0%;
    margin: 0 10px;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity) * 1deg))) translateZ(250px);
}
#hero .hero-graphic .grc-img img{
    width: 100%;
    height: auto;
}

#hero .bcg-shape{
    position: absolute;
    z-index: -1;
}
#hero .l-green{
    left: 7rem;
    top: 30vh;
    width: 500px;
    height: 150px;
    background-color: #c97aa2;
}
#hero .l-blue{
    width: 400px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(143, 217, 241);
    top: 20vh;
    right: 10rem;
}
#hero .l-purple{
    background-color: rgb(151, 67, 177);
    top: 40vh;
    left: 50%;
    width: 300px;
    height: 200px;
}
#hero .l-red{
    background-color: rgb(231, 68, 68);
    top: 70%;
    left: 10%;
    width: 300px;
    height: 200px;
}




/* =========================================================== */
/* Media Queries */
/* tablets ---------------- */


/* mobile phones ----------- */
@media screen and (max-width: 550px) {
    html{
        font-size: 14px;
    }

    /* header -------- */
    #header .navbar{
        justify-content: space-between;
    }

    #header .navbar .logo img{
        width: 45px;
        margin: 5px 10px;
    }

    #header .navbar :is(.nav-links, .animate) {
        flex-direction: column;
        position: absolute;
        top: 110%;
        right: -150px;
        width: auto;
        border-radius: 3px;
        box-shadow: 0 0 5px var(--shade2);
        background-color: var(--main-clr);
        opacity: 70%;
        font-size: 0.8rem;
        padding: 20px 20px;
    }
    #header .navbar .nav-links{
        animation: toright 1s ease forwards;
    }
    #header .navbar .animate{
        animation: toleft 1s ease forwards;
    }

    #toggler button{
        display: block;
    }

    /* hero ----------- */
    #hero{
        overflow-x: hidden;
    }

    #hero .glass{
        flex-direction: column;
    }
   

}